/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
laravel-echo-server.lock
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
db_dump.sql
db_dev.sql
db.sql

/app/Console/Commands/ExportProblematicData.php
/public/js/problematic.js
/public/problematic.json
/public/problematic.log
/resources/js/problematic.js
/resources/views/problematic.blade.php


/config/database.php
/config/app.php
/config/logging.php

composer-setup.php
composer-temp.phar
package-lock.json
yarn.lock

.idea
.DS_Store
**/*/.DS_Store
